---
interface Props {
  label: string;
}
const { label } = Astro.props;
---

<span
  class="jetbrains-mono py-.5 rounded-md bg-neutral-600 px-3 text-sm text-white transition-opacity hover:opacity-80"
>
  {label}
</span>
