---
interface Props {
  title: string
  date: string
  content: string
}
const { title, date, content } = Astro.props
---
<article class="flex justify-between">
    <div class="space-y-1 w-3/4">
        <h4 class="text-md font-semibold">{title}</h4>
        <p class="jetbrains-mono text-sm text-neutral-600">{content}</p>
    </div>
    <span class="text-neutral-600 w-1/4 text-right">{date}</span>
</article>
