---
interface Props {
  desc: string;
  href: string;
}
const { desc, href } = Astro.props;
---

<a
  class="grid h-7 w-7 place-content-center rounded-md border border-neutral-300 text-xl text-neutral-600 transition-colors hover:bg-neutral-300 hover:text-neutral-800"
  aria-label={desc}
  href={href}
>
  <slot />
</a>
