---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/dm-sans";
import { ViewTransitions } from "astro:transitions";
import Og from "../components/Og.astro";
//og
interface Props {
  title: string;
  desc: string;
  image_path: string;
}

const { title, desc, image_path } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <Og title={title} desc={desc} image_path={image_path} />
  </head>
  <body class="mx-auto max-w-3xl space-y-12 px-4 pb-6 pt-10 xl:px-0 xl:pt-16">
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "DM Sans Variable", sans-serif;
  }
  .jetbrains-mono {
    font-family: "JetBrains Mono Variable", monospace;
  }
</style>
