<div  class='prose prose-em:text-green-500 prose-code:text-orange-500 prose-h2:text-lg prose-h2:font-semibold'>
    <slot/>
</div>
<!--
    *(duh)* => prose-em:
    `An astro project` => prose-code:
    [github repository of this blog](https://github.com/ikurotime/astro-portfolio-2023) => prose-a:
-->
