<div
  class="prose prose-h2:text-lg prose-h2:font-semibold prose-h3:text-base prose-em:text-green-500 prose-code:text-orange-500"
>
  <slot />
</div>
<!--
    *(duh)* => prose-em:
    `An astro project` => prose-code:
    [github repository of this blog](https://github.com/ikurotime/astro-portfolio-2023) => prose-a:
-->
